$colors: (
        $light-blue $light-blue-color-name,
        $aqua $aqua-color-name,
        $yellow $yellow-color-name,
        $blue $blue-color-name,
        $navy $navy-color-name,
        $teal $teal-color-name,
        $olive $olive-color-name,
        $lime $lime-color-name,
        $orange $orange-color-name,
        $fuchsia $fuchsia-color-name,
        $maroon $maroon-color-name,
        $light-gray $light-gray-color-name,
        $gray $gray-color-name,
        $red $red-color-name,
        $purple $purple-color-name,
        $pink $pink-color-name,
        $green $green-color-name
);

@each $color in $colors {
  /*#{nth($color, 2)} Theme*/
  .header-#{nth($color, 2)}{
    @include header(nth($color, 1));
  }
  .sidebar-#{nth($color, 2)}{
    @include sidebar(nth($color, 1));
    @include control-bar(nth($color, 1));
  }
}