$background-color: rgba(0, 0, 0, 0);
$light-color: #8f8f8f;
$link-color: #fff;
$hover-color: #fff;
$foreground: rgba(0, 0, 0, 0);

.header-transparent{
  @include header($background-color, $link-color, $hover-color);
}

.sidebar-transparent{
  //$color, $light-color, $foreground, $foreground-color, $link-color, $hover-color, $search-box-background, $search-box-focused-background, $text-search-color, $text-search-focused-color
  @include sidebar($background-color, $light-color, $foreground, $light-color, $link-color, $hover-color, $foreground, $link-color, $link-color, $background-color);
  @include control-bar($background-color, $link-color, $hover-color);
}