$adn-color: #d87a68;
$bitbucket-color: #205081;
$dropbox-color: #1087dd;
$facebook-color: #3b5998;
$flickr-color: #ff0084;
$foursquare-color: #f94877;
$github-color: #007bb6;
$google-color: #dd4b39;
$instagram-color: #3f729b;
$linkedin-color: #007bb6;
$microsoft-color: #2672ec;
$openid-color: #f7931e;
$pinterest-color: #cb2027;
$reddit-color: #eff7ff;
$soundcloud-color: #ff5500;
$tumblr-color: #2c4762;
$twitter-color: #55acee;
$vimeo-color: #1ab7ea;
$vk-color: #587ea3;
$yahoo-color: #720e9e;

$font-size-base:             1rem;
$font-size-lg:               1.25rem;
$font-size-sm:               .875rem;
$font-size-xs:               .75rem;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;
$line-height-base:        1.428571429; // 20/14

$padding-base-vertical:     0.375rem;
$padding-base-horizontal:   0.750rem;
$padding-large-vertical:    0.625rem;
$padding-large-horizontal:  1rem;
$padding-small-vertical:    0.313rem;
$padding-small-horizontal:  0.625rem;
$padding-xs-vertical:       0.063rem;
$padding-xs-horizontal:     0.313rem;

$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px
$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) + 2);
$input-height-large: (ceil($font-size-lg * $line-height-large) + ($padding-large-vertical * 2) + 2);
$input-height-small: (floor($font-size-sm * $line-height-small) + ($padding-small-vertical * 2) + 2);

$bs-height-base: ($line-height-computed + $padding-base-vertical * 2);
$bs-height-lg: (floor($font-size-lg * $line-height-base) + $padding-large-vertical * 2);
$bs-height-sm: (floor($font-size-sm * 1.5) + $padding-small-vertical * 2);
$bs-height-xs: (floor($font-size-sm * 1.2) + $padding-small-vertical + 1);

@mixin button-variant($color, $background, $border){
  color: $color;
  background-color: $background;
  border-color: $border;
  @include transition-all;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    color: $color;
    background-color: darken($background, 5%);
    border-color: darken($border, 7%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled]  & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

@mixin transition-all(){
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

@mixin btn-social($color-bg, $color: #fff){
  background-color: $color-bg;
  @include button-variant($color, $color-bg, rgba(0, 0, 0, .2));
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.brand {
  text-align: center;
  a {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #333;
    font-weight: 600;
    text-decoration: none;
  }
}

.h70{
  height: 70px;
}

.form-signin, .brand {
  max-width: 330px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.form-signin {
  .form-signin-heading {
    margin-bottom: 10px;
  }
  label {
    padding-left: 0px;
  }
  .checkbox {
    font-weight: normal;
  }
  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }
  input {
    &[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    &[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

//SOCIAL
.btn-social {
  position: relative;
  padding-left: ($bs-height-base + $padding-base-horizontal);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $bs-height-base;
    line-height: ($bs-height-base + 0.5);
    font-size: 1.2em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  &.btn-lg {
    padding-left: ($bs-height-lg + $padding-large-horizontal);
    > :first-child {
      line-height: $bs-height-lg;
      width: $bs-height-lg;
      font-size: 1.8em;
    }
  }
  &.btn-sm {
    padding-left: ($bs-height-sm + $padding-small-horizontal);
    > :first-child {
      line-height: $bs-height-sm;
      width: $bs-height-sm;
      font-size: 1.4em;
    }
  }
  &.btn-xs {
    padding-left: ($bs-height-xs + $padding-small-horizontal);
    > :first-child {
      line-height: $bs-height-xs;
      width: $bs-height-xs;
      font-size: 1.2em;
    }
  }
}

.btn-social-icon {
  @extend .btn-social;
  padding: 0;
  > :first-child {
    border: none;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    line-height: ($bs-height-base + 1);
  }
  &.btn-lg {
    height: $bs-height-lg;
    width: $bs-height-lg;
    padding-left: 0;
    padding-right: 0;
  }
  &.btn-sm {
    height: ($bs-height-sm + 2);
    width: ($bs-height-sm + 2);
    padding-left: 0;
    padding-right: 0;
  }
  &.btn-xs {
    height: ($bs-height-xs + 2);
    width: ($bs-height-xs + 2);
    padding-left: 0;
    padding-right: 0;
  }
}


.btn-adn {
  @include btn-social($adn-color);
}

.btn-bitbucket {
  @include btn-social($bitbucket-color);
}

.btn-dropbox {
  @include btn-social($dropbox-color);
}

.btn-facebook {
  @include btn-social($facebook-color);
}

.btn-flickr {
  @include btn-social($flickr-color);
}

.btn-foursquare {
  @include btn-social($foursquare-color);
}

.btn-github {
  @include btn-social($github-color);
}

.btn-google {
  @include btn-social($google-color);
}

.btn-instagram {
  @include btn-social($instagram-color);
}

.btn-linkedin {
  @include btn-social($linkedin-color);
}

.btn-microsoft {
  @include btn-social($microsoft-color);
}

.btn-openid {
  @include btn-social($openid-color);
}

.btn-pinterest {
  @include btn-social($pinterest-color);
}

.btn-reddit {
  @include btn-social($reddit-color, #000);
}

.btn-soundcloud {
  @include btn-social($soundcloud-color);
}

.btn-tumblr {
  @include btn-social($tumblr-color);
}

.btn-twitter {
  @include btn-social($twitter-color);
}

.btn-vimeo {
  @include btn-social($vimeo-color);
}

.btn-vk {
  @include btn-social($vk-color);
}

.btn-yahoo {
  @include btn-social($yahoo-color);
}