.card-graphic {

  .card-block{
    position: relative;
    display: block;
    overflow:hidden;
  }

  // content wrapper
  .inner {
    position: relative;
    top: 5px;
    left: 10px;
    z-index: 10;
    height: 80px;
    //padding: 10px;
  }

  .graphic {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 0;
    width: 95%;
    max-height: 150px;
  }

}

@media (max-width: $screen-sm) {
  // No need for icons on very small devices
  .card-graphic {
    text-align: center;
    .graphic {
      bottom: 5px;
      left: 5px;
    }
  }
}
