.small-card {
  @include border-radius($card-border-radius);
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: $card-boxshadow;
  // content wrapper
  > .inner {
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 10;
    //padding: 10px;
    height: 120px;
  }

  // Box color variations
  &.card-default {
    background-color: $secondary;
  }
  &.card-primary {
    background-color: $primary;
  }
  &.card-info {
    background-color: $info;
  }
  &.card-danger {
    background-color: $danger;
  }
  &.card-warning {
    background-color: $warning;
  }
  &.card-success {
    background-color: $success;
  }

  > .small-card-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    &:hover {
      color: #fff;
      background: rgba(0, 0, 0, 0.15);
    }
  }

  h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
    color: white;
  }

  p {
    font-size: 15px;
    color: white;
    > small {
      display: block;
      font-size: 13px;
      margin-top: 5px;
    }
  }


  // the icon
  .icon {
    @include transition(all $transition-speed linear);
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
  }

  // Small box hover state
  &:hover {
    text-decoration: none;
    // Animate icons on small box hover
    .icon {
      font-size: 95px;
    }
  }
}

$res-xs: 544px;
$res-sm: 767px;
$res-md: 991px;
$res-lg: 1199px;

@media (max-width: $res-xs) {
  // No need for icons on very small devices
  .small-card {
    text-align: left;
    .icon {
      //display: none;
    }
    p {
      font-size: 12px;
    }

  }
}
