#timeline {
  position: relative;
}
#timeline:after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  margin-left: -2px;
  height: 100%;
  content: "";
  background: #ddd;
}
#timeline .timeline-divider {
  position: relative;
  margin: 10px 0 45px;
  z-index: 3;
}
#timeline .timeline-divider .divider-label {
  position: relative;
  width: 110px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  border: 1px solid #DDD;
  color: #777;
  font-weight: 600;
  background: #FFF;
}
#timeline .timeline-divider .divider-label:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  top: 100%;
  background: #4a89dc;
}
#timeline .card {
  position: relative;
  z-index: 11;
  overflow: visible;
  margin-bottom: 30px;
}
#timeline .card:before,
#timeline .card:after {
  content: "";
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 99.8%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent #fafafa;
}
#timeline .card:after {
  z-index: 1;
  border-left-color: #666;
}
#timeline .right-column .card:before,
#timeline .right-column .card:after {
  top: 10px;
  right: 99.8%;
  left: auto;
  border-width: 8px 12px 8px 0;
  border-color: transparent #fafafa transparent transparent;
}
#timeline .right-column .card:after {
  border-right-color: #666;
}
#timeline > .row > .left-column .timeline-item {
  padding-right: 30px;
}
#timeline > .row > .right-column .timeline-item {
  padding-left: 30px;
}
#timeline > .row > .right-column {
  margin-top: 80px;
}
@media (max-width: 770px) {
  #timeline > .row > .left-column .card {
    margin-right: 0;
  }
  #timeline > .row > .right-column .card {
    margin-left: 0;
  }
  #timeline > .row .card:before {
    display: none;
  }
  #timeline > .row .card:after {
    display: none;
  }
}
#timeline .tab-content {
  min-height: 0;
}
#timeline .map {
  width: 100%;
  height: 275px;
}
#timeline #timeline-image-form .fileupload-preview {
  text-align: center;
}
#timeline #timeline-image-form .fileupload-preview img {
  max-height: 200px;
}
#timeline .timeline-icon {
  z-index: 1;
  position: absolute;
  right: -18px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  font-size: 20px;
  color: #FFF;
  text-align: center;
  border-radius: 50%;
  background: #eeeeee;
  box-shadow: 0 0 0 5px #eeeeee;
}
#timeline .right-column .timeline-icon {
  right: auto;
  left: -18px;
}
#timeline.timeline-single {
  margin-left: 6%;
  max-width: 750px;
}
#timeline.timeline-single:after {
  left: 0;
}
#timeline.timeline-single > .row > .col-sm-6 {
  width: 100%;
  padding-left: 65px;
}
#timeline.timeline-single > .row > .right-column {
  margin-top: 0;
}
#timeline.timeline-single > .row > .right-column .timeline-item,
#timeline.timeline-single > .row > .left-column .timeline-item {
  padding-left: 0;
  padding-right: 0;
}
#timeline.timeline-single .timeline-divider .divider-label {
  margin-left: -55px;
}
#timeline.timeline-single .timeline-icon {
  left: -8px;
  right: auto;
}
#timeline.timeline-single .card:before,
#timeline.timeline-single .card:after {
  right: 99.8%;
  left: auto;
  border-width: 8px 12px 8px 0;
  border-color: transparent #fafafa transparent transparent;
}
#timeline.timeline-single .card:after {
  border-right-color: #666;
}
.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}