<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<h4 dir="rtl">ما هي انواع الزواج التي يخدمها التطبيق؟</h4>
<h5 dir="rtl">يخدم التطبيق الزواج الشرعي العادي، التعداد والمسيار.</h5>
<br>
<h4 dir="rtl">هل يمكن الحصول على ارقام اتصال الطرف الاخر؟</h4>
<h5 dir="rtl">لا يمكن للمستخدمين التواصل مع بعضهم او تبادل الارقام، وستقوم الخطابة بعد اكتمال الشروط وبعد موافقة الطرفين بالتنسيق بينهم.</h5>
<br>
<h4 dir="rtl">هل يمكن محادثة الطرف الآخر عن طريق الشات؟</h4>
<h5 dir="rtl">لا يوجد في التطبيق خدمه الشات او الكتابه ولن يتم اضافتها في المستقبل.</h5>
<br>
<h4 dir="rtl">هل يمكن وضع صورتي ليراها الآخرين؟</h4>
<h5 dir="rtl">لا يوجد خيار للبنت لإضافة اي صورة، ولكن الرجل اذا رغب يمكنه ارسال صورته لشخص واحد فقط وسيتحقق فريق العمل من الصورة قبل ارسالها.</h5>
<br>
<h4 dir="rtl">متى يمكن التواصل مع الخطابة؟</h4>
<h5 dir="rtl">لا يمكن التواصل مع الخطابة الا بعد موافقة الطرفان ودفع الرسوم وبعد ذلك ستقوم الخطابة بالاتصال.</h5>
<br>
<h4 dir="rtl">ما هي الخطوة التالية بعد ان يجد الرجل البنت المناسبة؟</h4>
<h5 dir="rtl">يقوم الرجل بارسال اعجاب للملف الشخصي للبنت وتقوم البنت بمشاهده ملف الرجل واذا اعجبت به تقوم بقبول الطلب حيث بعد ذلك يستطيع الرجل ارسال طلب زواج رسمي للخطابة.</h5>
<br>
<h4 dir="rtl">متى يتم دفع الرسوم؟</h4>
<h5 dir="rtl">يتم دفع الرسوم بعد أن تقبل البنت طلب الزواج وهذا شرط اساسي.</h5>
<br>
<h4 dir="rtl">هل يمكن للبنت تسجيل رقم احد افراد عائلتها لتتواصل معهم الخطابة؟</h4>
<h5 dir="rtl">تستطيع البنت ان تدخل رقم جوال الوالدين او احد افراد العائلة وستقوم الخطابة بالاتصال على هذا الرقم.</h5>
<br>
<h4 dir="rtl">هل يحق للبنت طلب صورة الرجل؟</h4>
<h5 dir="rtl">يمكن للبنت ان تطلب من الرجل ارسال صورته وفي حال وافق الرجل على ذلك يقوم بحفظ صورته ويتم مراجعتها من قبل فريق العمل قبل ان يتم ارسالها للبنت، وهذه الصورة لن يتمكن الاعضاء الآخرين من رؤيتها.</h5>
<br>
<h4 dir="rtl">ما اللذي يميز تطبيق وفَق؟</h4>
<h5 dir="rtl">يتميز تطبيق وفّق بتمسكه بالعادات والتقاليد وفي نفس الوقت يتيح للمستخدمين العديد من الخيارات التي تساعدهم بعد الله في ايجاد الاشخاص الأكثر ملائمة مع شخصياتهم ورغباتهم. كما يتميز بوجود خطابات يساهمن بشكل رئيسي في منع اي تلاعبات قد تحدث من بعض المستخدمين.</h5>
<br>
<h4 dir="rtl">هل يمكن تغيير رقم الجوال اللذي قمت بتسجيله؟</h4>
<h5 dir="rtl">لا يمكنك تعديل رقم الجوال او الجنس إلا في حالات استثنائيه يتم مراجعتها من قبل فريق العمل.</h5>
<br>
<h4 dir="rtl">هل يمكن وضع صورة تعبيرية بدل صورتي الشخصية؟</h4>
<h5 dir="rtl">يسمح للرجل بوضع صورته الشخصية فقط وسيتم مراجعتها من قبل فريق العمل قبل ارسالها للشريك الآخر.</h5>
<br>
<h4 dir="rtl">هل يمكن استعادة الرسوم؟</h4>
<h5 dir="rtl">لا يمكن ارجاع الرسوم , ولكن يمكن اعطاء الرجل محاوله اخرى للبحث عن الزوجه المناسبه له في حال عدم الاتفاق مع البنت السابقه لاسبابها الخاصه .</h5>
<br>
<h4 dir="rtl">هل  يمكنني التواصل مع خدمة العملاء؟</h4>
<h5 dir="rtl">نعم تستطيع ارسال سؤالك لخدمه العملاء وسيتم الرد عليك في اقل من 24 ساعة</h5>
<br>
