<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <br>
 <br>
 <br>
<div class="container"><h3 dir="rtl">شروط وقواعد استخدام موقع وفّق الالكتروني وتطبيق وفّق على الاجهزة الذكية</h3>
<br>
<h4 dir="rtl">1.الشروط والاحكام والقواعد وجميع البنود المذكورة أدناه تعتبر اتفاقية بين الطرفين وسيشار لها بـ "الاتفاقية" فيما بعد.</h4>
<h4 dir="rtl">2.إطلاعكم على هذه الاتفاقية تعني موافقتكم والتزامكم بكامل بنودها بدون أب قيد أو شرط. وفي حال كان لديكم اعتراض على أي بند من هذه البنود فيرجى عدم استخدام الموقع أو التطبيق.</h4>
<h4 dir="rtl">3.يحق لـ وفّق تعديل شروط وأحكام الاتفاقيّة في أي وقت كان وتصبح جميع هذه التعديلات سارية المفعول عند نشرها على الموقع او التطبيق ويُعتبر استخدامكم للخدمة بعد نشر هذه التعديلات، موافقة عليها.</h4>
<h4 dir="rtl">4.يحتفظ وفّق بحقه في تعديل الخدمة أو أي جزء أو محتوى منها أو إيقافها، بشكل مؤقت أو دائم، بدون سابق إنذار ويعتبر المستخدمين لخدمات وفّق موافقين على هذه التعديلات على ألا يتحمّل الموقع أو التطبيق أي مسؤولية قانونية تجاهكم أو تجاه أي طرف ثالث.</h4>
<h4 dir="rtl">5.كمستخدم لخدمات وفّق فإن عمرك 18 سنة أو أكثر.</h4>
<h4 dir="rtl">6.شروط التسجيل التي يتم إطلاعكم عليها عند التسجيل لأول مره هي جزءا لا يتجزأ من هذه الاتفاقيّة.</h4>
<h4 dir="rtl">7.هذه الاتفاقيّة سارية المفعول طوال فترة استخدامكم للخدمات.</h4>
<h4 dir="rtl">8.يمكنكم إنهاء إشتراككم في أي وقت ولأي سبب وذلك عبر اتّباع التعليمات الموجودة على الموقع.</h4>
<h4 dir="rtl">9.يحق لوفّق إنهاء أو تعليق إشتراككم في أي وقت ودون الحاجة لإرسال إشعار مسبق قبل إنتهاء إشتراككم.</h4>
<h4 dir="rtl">10.هذه الاتفاقية ستبقى سارية المفعول حتى بعد أن يتم أنهى اشتراككم.</h4>
<h4 dir="rtl">11.لا يمكنكم استرداد المبالغ المدفوعة بغض النظر عن سبب انهاء الاتفاقيّة.</h4>
<h4 dir="rtl">12.موقع وتطبيق وفّق يتم استخدامه بشكل شخصي فقط، ويمنع استخدامه لأية أغراض تجارية مما يمنع المنظمات والمؤسسات والشركات من التسجيل في الخدمة وذلك لأي غرض كان.</h4>
<h4 dir="rtl">13.جميع البيانات والمعلومات الواردة في الموقع والتطبيق محمية ويمنع استخدامها بتاتاً لغير المشتركين المسجلين والراغبين في الزواج الشرعي وسيتم اتخاذ الاجراءات القانونية في حال استخدام هذه البيانات لغير ذلك.</h4>
<h4 dir="rtl">14.العلامات التجارية وكامل المحتويات الموجودة بالموقع والتطبيق هي مملوكة لوفّق ومحمية بحقوق الملكيّة الفكريّة ويمنع استخدامها أو اي جزء منها دون الحصول على موافقة خطية من المالك.</h4>
<h4 dir="rtl">15.اسم المستخدم والرقم السري هي مسئوليتكم وعليكم الحفاظ عليها وعدم إعطائها اي شخص آخر وتتحملون كامل المسؤولية المترتبة على ذلك.</h4>
<h4 dir="rtl">16.عليكم إبلاغ وفّق بأي استخدام غير مصرّح به لاسم المستخدم أو لكلمة السر الخاصة بكم أو أي خرق آخر لحماية حسابكم، وعليكم التأكد من الخروج من الحساب عند نهاية كل جلسة.</h4>
<h4 dir="rtl">17.لا يتحمّل وفّق أو أي من فروعه أو الشركات التابعة له أو مساهميه أو مدرائه أو مسؤوليه أو عملائه أو موظفيه أو ورثته أو شركائه أو المرخصين من قبله أو المروجين له أو شركاء التوزيع أوالمتعاقدين المستقلين الذين يتعاملون معه أي مسؤوليّة تنتج عن أي خسارة أو ضرر قد ينجم عن عدم امتثالكم لأحكام هذه الاتفاقية.</h4>
<h4 dir="rtl">18.الموقع و التطبيق ستمنع نشر أي معلومات تشهيرية أو معادية أو إباحية أو مهددة أو تمييز عنصري أو أي مواد مخالفة للقانون أو تنتهك خصوصيّة أي طرف آخر.</h4>
<h4 dir="rtl">19.تلتزمون بعدم تسجيل معلومات غير دقيقة أو مضللة أو خاطئة قد ينتج عنها ضرر مباشر أو غير مباشر للأعضاء الآخرين.</h4>
<h4 dir="rtl">20.موقع وتطبيق وفّق يتمتع بالحرية الكاملة في تعديل أو مسح أي محتوى تمّ إدخاله من قبلكم دون الحاجة لإبداء السبب.</h4>
<h4 dir="rtl">21.إن موقع وتطبيق وفّق والأطراف ذات الصلة غير مسؤولين عن أي محتوى غير صحيح أو دقيق في معلوماتكم وملفاتكم الشخصية وفي حال تبين أن هناك معلومات غير صحيحة فوفّق لها الحق في حذف المستخدم وايقاف حسابه.</h4>
<h4 dir="rtl">22.تقتصر الخدمة التي يقدمها موقع وتطبيق وفّق في عملية البحث عن الشريك المناسب فقط، ولا يتحمل وفّق اي مسئولية عن ما قد يحدث بعد استخدامكم لهذه الخدمة، وهذا يشمل ماقد يحدث بينكم وبين المشتركين الآخرين أو اوليا امورهم او بينكم وبين الخطابات أو اي اطراف أخرى.</h4>
<h4 dir="rtl">23.موقع وتطبيق وفّق لا يتحمل أي مسئولية عن أي ضرر قد يحدث بسبب استخدام الخدمة وذلك يشمل الضرر العاطفي والجسدي. ولا يتدخل وفّق في حل هذه الاضرار او التدخل بين الأطراف.</h4>
<h4 dir="rtl">24.لا يضمن موقع وتطبيق وفّق أية نتائج معينة جراء استخدام الخدمة.
<h4 dir="rtl">25.يؤمن موقع وتطبيق وفّق المساعدة لكم من خلال فريق خدمة العملاء واللذين سيقدمون لكم جميع الخدمات التي قد تحتاجونها بكل احترافيه ونتوقع منكم معاملة فريق العمل بنفس هذا المستوى وعليه فأن موقع وطبيق وفّق له الحق في إلغاء او ايقاف اشتراككم متى ما صدر منك تصرف غير اخلاقي مع موظفيه وذلك يشمل الكلام الجارح او العنصري او البذيء او العدائي او اي سلوك غير مهذب.</h4>
<h4 dir="rtl">26.بهدف حماية نزاهة الخدمة، يحتفظ موقع وتطبيق وفّق بحق حجب عنوان بروتوكول الإنترنت الخاص ببعض الـمنتسبين عن دخول الموقع متى شاء وفي أي وقت كان.
<h4 dir="rtl">27.توافقون على دفع أي مبالغ أو تعويضات لصالح موقع وتطبيق وفّق أو الأطراف ذات الصلة اذا تسببتم بضرر نتيجة لاستخدامكم للخدمة خلافًا لما تنص عليه هذه الاتفاقيّة أو نتيجة خرق لهذه الاتفاقيّة بأي شكل كانت، وهذا التعويض يشمل أتعاب المحامين أو اي اي طرف آخر.</h4>
<h4 dir="rtl">28.تخضع هذه الاتفاقيّة وتفسّر وفقًا لقوانين المملكه العربيه السعوديه.</h4>
</div>