.bg-black-laser{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-black-laser.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-black-velvet{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-black-velvet.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-blue-techno{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-blue-techno.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-dark-wood{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-dark-wood.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-rainbow{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-rainbow.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-digital-rainbow{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-digital-rainbow.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-digital-sun{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-digital-sun.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-fractal-ocean{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-fractal-ocean.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-fractal-rainbow{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-fractal-rainbow.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-gray-lights{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-gray-lights.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-pink{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-pink.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-pink-and-blue{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-pink-and-blue.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-sunset{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-sunset.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-gradientdark-blue{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-gradientdark-blue.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-gradient-pink{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-gradient-pink.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-gradient-green{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-gradient-green.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-gradient-blue{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-gradient-blue.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-glow-green{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-glow-green.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-glow-pink{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-glow-pink.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-glow-blue{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-glow-blue.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-sepia-green{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-sepia-green.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-sepia-blue{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-sepia-blue.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-sepia-yellow{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-sepia-yellow.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-green-yellow{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-green-yellow.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-white-fractal{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-white-fractal.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-white-fractal2{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-white-fractal2.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-white-laser{
  background: rgba(0, 0, 0, 0) url("../img/themes/bg/bg-white-laser.jpg") no-repeat center center fixed;
  @include background-size(cover);
}
.bg-solid-white{
  background-color: #fff;
}
.bg-solid-black{
  background-color: #000;
}
.bg-solid-dark{
  background-color: #333;
}
.bg-solid-gray{
  background-color: #f2f2f2;
}