$background-color: #000;
$light-color: #8f8f8f;
$link-color: #fff;
$hover-color: #fff;
$foreground: #1A1A1A;

.header-black{
  @include header($background-color, $link-color, $hover-color);
}

.sidebar-black{
  //$color, $light-color, $foreground, $foreground-color, $link-color, $hover-color, $search-box-background, $search-box-focused-background, $text-search-color, $text-search-focused-color
  @include sidebar($background-color, $light-color, $foreground, $light-color, $link-color, $hover-color, $foreground, $link-color, $link-color, $background-color);
  @include control-bar($background-color, $link-color, $hover-color);
}