$primary: #3c8dbc;
$info: #00c0ef;
$danger: #dd4b39;
$warning: #f39c12;
$success: #00a65a;
$secondary: #f4f4f4;
$knob-label-color: #333;
$control-background: #fff;
$border-radius: 10px;
$secondary-border-top-color: #d2d6de;
$shadow: 0 1px 1px rgba(0, 0, 0, .1);
$border-color: #f4f4f4;
$header-color: #444;
$padding: 10px;
$footer-bg: #fff;
$label-color: #333;

/*
* Content Clear
*/
.content-light{
  .content-wrapper{
    background: #ecf0f5;
  }
  @import '../partials/_small-card';
  @import '../partials/_card';
  @import '../partials/_card-graphic';
  @import '../partials/_callendar';
  @import '../partials/_callout';
  @import '../partials/_card-info';
  @import '../partials/_alerts';
  @import '../partials/_buttons';
  @import '../partials/_direct-chat';
  @import '../partials/_forms';
  @import '../partials/_progress-bars';
  @import '../partials/_timeline';
  @import '../partials/_navs';
  @import '../partials/_products';
  @import '../partials/_table';
  @import '../partials/_labels';
  @import '../partials/_users-list';
  @import '../partials/_carousel';
  @import '../partials/_modal';
  @import '../partials/_social-widgets';
  @import '../partials/_bootstrap-social';
  @import '../partials/_fullcalendar';
  @import '../partials/_select2';
  @import '../partials/_miscellaneous';
  @import '../partials/_print';
}