$background-color: rgba(0, 0, 0, 0);
$light-color: #8f8f8f;
$link-color: #fff;
$hover-color: #fff;
$foreground: rgba(0, 0, 0, 0);

.header-glass {

  .main-header:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0; right: 0; left: 0;
    //filter: blur(30px);
    //background: transparent url("../img/themes/bg/bg-rainbow.jpg") no-repeat fixed center center / cover ;

    background-image: -ms-linear-gradient(left, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(237,237,237) 100%);

    background-image: -moz-linear-gradient(left, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(237,237,237) 100%);

    background-image: -o-linear-gradient(left, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(237,237,237) 100%);

    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgb(255,255,255)), color-stop(47, rgb(246,246,246)), color-stop(100, rgb(237,237,237)));

    background-image: -webkit-linear-gradient(left, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(237,237,237) 100%);

    background-image: linear-gradient(to right, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(237,237,237) 100%);

    opacity: 0.3;
  }
}

.sidebar-glass{
  //$color, $light-color, $foreground, $foreground-color, $link-color, $hover-color, $search-box-background, $search-box-focused-background, $text-search-color, $text-search-focused-color
  @include sidebar($background-color, $light-color, $foreground, $light-color, $link-color, $hover-color, $foreground, $link-color, $link-color, $background-color);
  @include control-bar($background-color, $link-color, $hover-color);
  .main-sidebar:after, .control-sidebar:after{
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0; right: 0; left: 0;
    //filter: blur(30px);
    //background: transparent url("../img/themes/bg/bg-rainbow.jpg") no-repeat fixed center center / cover ;

    background-image: -ms-linear-gradient(left, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(237,237,237) 100%);

    background-image: -moz-linear-gradient(left, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(237,237,237) 100%);

    background-image: -o-linear-gradient(left, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(237,237,237) 100%);

    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgb(255,255,255)), color-stop(47, rgb(246,246,246)), color-stop(100, rgb(237,237,237)));

    background-image: -webkit-linear-gradient(left, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(237,237,237) 100%);

    background-image: linear-gradient(to right, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(237,237,237) 100%);

    opacity: 0.3;
  }

}