$background-color: #fff;
$light-color: #8f8f8f;
$link-color: #333;
$hover-color: #333;
$foreground: #F5F5F5;

.header-white{
  @include header($background-color, $link-color, $hover-color);
}

.sidebar-white{
  //$color, $light-color, $foreground, $foreground-color, $link-color, $hover-color, $search-box-background, $search-box-focused-background, $text-search-color, $text-search-focused-color
  @include sidebar($background-color, $light-color, $foreground, $light-color, $link-color, $hover-color, $light-color, $link-color, $link-color, $background-color);
  @include control-bar($background-color, $link-color, $hover-color);
}