@import "_variables";//overrides comes first, overridden comes later. In this case, BS4 variables overrides Bs3 variables.
@import "_mixins.scss";

//import Bootstrap variables and mixins
@import "../vendor/bootstrap/_variables";
@import "../vendor/bootstrap/_mixins";

// Global Components
html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  @include serif-font;
  background: #D9D6D1;
  position: relative;
}

hr {
  border-color: $theme-primary;
  border-width: 3px;
  max-width: 50px;
}

hr.light {
  border-color: $top-menu-color;
}

a, a:hover, a:active, a:focus{
  outline: 0;
}

a {
  @include transition-all;
  color: $theme-primary;
  &:hover,
  &:focus {
    color: darken($theme-primary, 10%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

h2{
  @include media-breakpoint-down(sm){
    font-size: 1.5rem;

  }
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  @include media-breakpoint-down(sm){
    font-size: 12px;
  }

}

.fill{
  width:100%;
  //height:100%;
  min-height:400px;
  background: #fff;
}

.bg-foreground{
  background-color: $secondary-color !important;
}

.bg-primary {
  background-color: $theme-primary !important;
}

.bg-dark {
  background-color: $theme-dark;
  color: $top-menu-color;
}

.bg-bs4{
  background-color: #4C446D;
  color: white;
}

.text-rgbad {
  color: rgba($top-menu-color, 70%);
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.feature{
  color: white;
}

#differentials{
  color: white;
  background-color: #363636;
  min-height: 400px;
}

//loading
#mask {
  background-color: #fff;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100000;
}
.loader {
  position: absolute;
  width: 40px;
  height:40px;
  margin: -20px 0 0 -20px;
  top:50%;
  left:50%;
}

//fixed footer and header parallax
#scroll-animate
{
  overflow: hidden;
}
#scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
}
#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}
#heightPage
{
  left: 0;
}
#heightScroll
{
  right: 0;
}

header,
footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

footer
{
  width: 100%;
  height: 300px;
  background: #333;
  color: #fff;
  bottom: -300px;
  position: fixed;
  z-index: 250;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

header {
  //position: relative;
  top: 0;
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  //min-height: auto;
  @include background-cover;
  background-position: center;
  text-align: center;
  color: $top-menu-color;

  @include media-breakpoint-up(md) {
    min-height: 100%;
  }
}

#content{
  height: 1000px;
  min-height: 1000px;
  position: relative;
  z-index: 300;
}
//end of fixed footer and header parallax

// Navigation
.navbar-default {
  background-color: $top-menu-color;
  border-color: $tertiary-color;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid;
  @include sans-serif-font;
  @include transition-all;
  @include media-breakpoint-down(sm){
    padding:0;

    .navbar-brand {
      color: $theme-primary;
      @include sans-serif-font;
      font-weight: 700;
      padding: 0.5rem 0;
      //margin: 0.5rem 0;
      &:hover,
      &:focus {
        color: darken($theme-primary, 10%);
      }
      .brand-img {
        width: 50px;
        height: 25px;
        background: url('../img/front-end/infinity.png') no-repeat left top;
        background-size: 100%;
      }
    }

    .nav {
      > li {
        > a,
        > a:focus {
          line-height: 20px;
          box-sizing: border-box;
          font-size: 15px;
          color: $theme-dark;
          transition: all 0.25s ease 0s;
          display: block;
          position: relative;
          padding: 10px 0;
          &:hover {
            color: $theme-primary;
          }
        }
      }

      .nav-link.active, .nav-link.active:focus{
        color: $theme-primary !important;
        background-color: transparent;
      }

      .dropdown-menu {
        background-color: transparent;
        border: 0 none;
        box-shadow: none;
        float: none;
        margin-top: 0;
        position: static;
        width: auto;
      }
    }

    .navbar-header::after, .navbar-header::before{
      content: " ";
      display: table;
      clear: both;
    }

    .nav-btn {
      font-weight: 700;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
      transition: all 0.2s ease-in-out 0s;
      background-color: none;
      margin: 0;
      border-radius: 0;
      a{
        text-decoration: none;
      }
    }

    .navbar-nav .nav-item {
      float: none;
    }
    .navbar-divider,
    .navbar-nav .nav-item+.nav-item,
    .navbar-nav .nav-link + .nav-link {
      margin-left: 0;
    }
  }

  @include media-breakpoint-up(md) {
    background-color: transparent;
    border-color: rgba($top-menu-color, 0.3);

    .nav {
      > li {
        > a,
        > a:focus {
          line-height: 50px;
          box-sizing: border-box;
          font-size: 15px;
          color: $theme-dark;
          transition: all 0.25s ease 0s;
          &:hover {
            color: $theme-primary;
          }
        }
      }
      .nav-link.active, .nav-link.active:focus{
        color: $theme-primary !important;
        background-color: transparent;
      }
    }

    .nav-btn {
      font-weight: 700;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
      transition: all 0.2s ease-in-out 0s;
      background-color: $theme-primary;
      border-radius: 4px;
      margin: 0.425rem 0;
      a{
        text-decoration: none;
        margin: 10px;
      }
    }

    .dropdown-menu{
      left:auto;
      .active{
        color: $theme-primary !important;
        background-color: transparent;
      }
    }

    .navbar-brand {
      color: rgba($top-menu-color, 0.7);
      &:hover,
      &:focus {
        color: $top-menu-color;
      }
      .brand-img{
        background: url('../img/front-end/infinity_logo_white.png') no-repeat;
        width: 91px;
        height: 50px;
        background-size: 100%;
      }
    }
    .nav > li > a,
    .nav > li > a:focus {
      color: rgba($top-menu-color, 0.7);
      &:hover {
        color: $top-menu-color;
      }
    }
    //when scroll down passes the sps element (scrollPosStyler.js)
    &.sps--blw{
      background-color: $top-menu-color;
      border-color: $tertiary-color;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.04);
      padding:0;
      border-bottom: 1px solid;
      .navbar-brand {
        color: $theme-primary;
        font-size: 14px;
        &:hover,
        &:focus {
          color: darken($theme-primary, 10%);
        }
        .brand-img {
          background: url('../img/front-end/infinity_logo.png') no-repeat;
          width: 91px;
          height: 50px;
          background-size: 100%;
        }
      }
      .nav > li > a,
      .nav > li > a:focus {
        color: $theme-dark;
        &:hover {
          color: $theme-primary;
        }
      }
    }
  }
}

//parallax images
.parallax-holder{
  position: relative;
  left: 0;
  right: 0;
  height: 187px;
  overflow: hidden;
  text-align: center;
  @include media-breakpoint-up(md) {
    height: 300px;
  }
  @include media-breakpoint-up(lg) {
    height: 400px;
  }
  @include media-breakpoint-up(xl) {
    height: 450px;
  }
}

.parallax-content{
  position: absolute;
  z-index: 10;
  text-align: center;
  left: 0;
  right: 0;
  padding-top: 100px;
  img {
    padding: 10px;
  }
  @include media-breakpoint-down(sm) {
    img {
      width: 90px;
    }
  }

  @include media-breakpoint-up(md) {
    padding-top: 50px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 100px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 250px;
  }
}

// Slider
#slider{
  position: relative;
  z-index: 100;
}

.slider-top-content{
  position: absolute;
  width:100%;
  z-index: 150;
  text-align: center;
  color: $top-menu-color;
  padding: 80px 15px;
  margin: auto;
  h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
  }
  hr {
    margin: 30px auto;
  }
  p {
    font-weight: 300;
    color: rgba($top-menu-color, 0.7);
    font-size: 16px;
    margin-bottom: 10px;
  }
  img {
    width: 30%;
  }
  @include media-breakpoint-up(md) {
    width:650px;
    right: 0;
    left: 0;
    padding: 250px 15px 100px;
  }
}

.slider-controls{
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  li{
    list-style: none;
    a{
      position: absolute;
      z-index: 200;
      top: 44%;
      width: 81px;
      height: 80px;
      cursor: pointer;
    }
  }

}

div:hover .slider-controls{
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.slides-navigation{
  .next{background: transparent url("../img/front-end/slider/sliders-next.png"); width:81px; height:80px; margin-right:70px; opacity:0.3}
  .prev{background: transparent url("../img/front-end/slider/sliders-prev.png"); width:81px; height:80px; margin-left:70px; opacity:0.3}
  .next:hover{opacity:1}
  .prev:hover{opacity:1}
  @include media-breakpoint-down(sm) {
      display: none;

  }
}

.overlay{
  background: transparent url("../img/front-end/overlay.png");
  opacity: 0.8;
  width:100%;
  height:100%;
  position:absolute;
  z-index:3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//Features
#features{
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.slide{
  img{
    width: 100%;
    max-width: 646px;
    padding-bottom: 20px;
  }
  text-align: center;
  transition: background 1s ease;
  background-color: #3498DB;
  height: 600px;
}

// Sections
.section-heading {
  margin-top: 0;
}

.pdtop {
  padding-top: 50px;
  @include media-breakpoint-up(md) {
    padding-top: 100px;
  }
}

.pdbottom {
  padding-bottom: 50px;
  @include media-breakpoint-up(md) {
    padding-bottom: 100px;
  }
}

.gallery-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  img {
    width: 100%;
  }

  .gallery-box-caption {
    color: $top-menu-color;
    opacity: 0;
    display: block;
    background: rgba($theme-primary, 0.9);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    @include transition-all;
    .gallery-box-caption-content {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      .project-category,
      .project-name {
        @include sans-serif-font;
        padding: 0 15px;
      }
      .project-category {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
      }
      .project-name {
        font-size: 18px;
      }
    }
  }
  &:hover {
    .gallery-box-caption {
      opacity: 1;
    }
  }
  @include media-breakpoint-up(md) {
    .gallery-box-caption {
      .gallery-box-caption-content {
        .project-category {
          font-size: 16px;
        }
        .project-name {
          font-size: 22px;
        }
      }
    }
  }
}

.call-to-action {
  h2 {
    margin: 0 auto 20px;
  }
}

// Bootstrap Overrides
.text-primary {
  color: $theme-primary !important;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

// Button Styles
.btn-default {
  @include button-variant($theme-dark,$top-menu-color,$top-menu-color);
}

.btn-primary {
  @include button-variant($top-menu-color,$theme-primary,$theme-primary);
}

.btn {
  @include sans-serif-font;
  border: none;
  border-radius: 300px;
  font-weight: 700;
}

.btn-xl {
  padding: 15px 30px;
  @include media-breakpoint-down(sm) {
    padding: 7px 15px;
  }
}

// Extras
// -- Highlight Color Customization

::selection {
  color: $top-menu-color;
  text-shadow: none;
  background: $theme-dark;
}

img::selection {
  color: $top-menu-color;
  background: transparent;
}

body {
  webkit-tap-highlight-color: $theme-dark;
}