//main variables
//content
$content-color: #333 !default;
$content-link-color: #f5f5f5 !default;
$content-hover-link-color: #337ab7 !default;

$content-background-primary-color: #3c8dbc !default;
$content-background-default-color: #f4f4f4 !default;
$content-background-success-color: #00a65a !default;
$content-background-info-color: #00c0ef !default;
$content-background-danger-color: #dd4b39 !default;
$content-background-warning-color: #f39c12 !default;

$content-border-primary-color: #367fa9 !default;
$content-border-default-color: #e5e5e5 !default;
$content-border-success-color: #008d4c !default;
$content-border-info-color: #00acd6 !default;
$content-border-danger-color: #d73925 !default;
$content-border-warning-color: #e08e0b !default;

//card
$card-color: #333 !default;
$card-background-color: #ffffff !default;
$card-background-header-color: #f5f5f5  !default;
$card-background-footer-color: #f5f5f5  !default;
$card-border-color: #d2d6de !default;

//header
$header-background-color: #3c8dbc !default;
$header-foreground-color: #367fa9 !default;
$header-link-color: #fff !default;
$header-hover-color: #fff !default;



//PATHS
//--------------------------------------------------------

$carded-layout-bg-image-path: "../img/boxed-bg.jpg";

//COLORS
//--------------------------------------------------------
//Primary
$light-blue: #3c8dbc;
$aqua: #00c0ef;
$yellow: #f39c12;
$blue: #0073b7;
$navy: #001F3F;
$teal: #39CCCC;
$olive: #3D9970;
$lime: #01FF70;
$orange: #FF851B;
$fuchsia: #F012BE;
$maroon: #D81B60;
$light-gray: #d2d6de;
$gray: #888;
$black: #111;
$red: #d73925;
$purple: #555299;
$green: #008d4c;
$pink: #f360b0;
$white: #fff;

$light-blue-color-name: 'light-blue';
$aqua-color-name: 'aqua';
$yellow-color-name: 'yellow';
$blue-color-name: 'blue';
$navy-color-name: 'navy';
$teal-color-name: 'teal';
$olive-color-name: 'olive';
$lime-color-name: 'lime';
$orange-color-name: 'orange';
$fuchsia-color-name: 'fuchsia';
$maroon-color-name: 'maroon';
$light-gray-color-name: 'light-gray';
$gray-color-name: 'gray';
$black-color-name: 'black';
$red-color-name: 'red';
$purple-color-name: 'purple';
$green-color-name: 'green';
$pink-color-name: 'pink';
$white-color-name: 'white';

//social
$adn-color: #d87a68;
$bitbucket-color: #205081;
$dropbox-color: #1087dd;
$facebook-color: #3b5998;
$flickr-color: #ff0084;
$foursquare-color: #f94877;
$github-color: #007bb6;
$google-color: #dd4b39;
$instagram-color: #3f729b;
$linkedin-color: #007bb6;
$microsoft-color: #2672ec;
$openid-color: #f7931e;
$pinterest-color: #cb2027;
$reddit-color: #eff7ff;
$soundcloud-color: #ff5500;
$tumblr-color: #2c4762;
$twitter-color: #55acee;
$vimeo-color: #1ab7ea;
$vk-color: #587ea3;
$yahoo-color: #720e9e;

//LAYOUT
//--------------------------------------------------------

$screen-xs-max: 544px;
$screen-sm: 767px;

//bootstrap4
$res-xs: 544px;
$res-sm: 767px;
$res-md: 991px;
$res-lg: 1199px;

$grid-gutter-with: 30px;
$navbar-height: 50px;
$screen-sm-max: 991px;
$screen-sm-min: 544px;

$font-size-base:             1rem;
$font-size-lg:               1.25rem;
$font-size-sm:               .875rem;
$font-size-xs:               .75rem;

$font-size-large: $font-size-lg;
$font-size-small: $font-size-sm;


$navbar-padding-vertical: 0.750rem;
$navbar-padding-horizontal: 0.938rem;

$padding-base-vertical:     0.375rem;
$padding-base-horizontal:   0.750rem;
$padding-large-vertical:    0.625rem;
$padding-large-horizontal:  1rem;
$padding-small-vertical:    0.313rem;
$padding-small-horizontal:  0.625rem;
$padding-xs-vertical:       0.063rem;
$padding-xs-horizontal:     0.313rem;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//** Default `.form-control` height
$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) + 2);
//** Large `.form-control` height
$input-height-large: (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
//** Small `.form-control` height
$input-height-small: (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);

//Side bar and logo width
$sidebar-width: 230px;
//Boxed layout maximum width
$carded-layout-max-width: 1190px;
//When the logo should go to the top of the screen
$screen-header-collapse: $screen-xs-max; //xs maximum width on bootstrap 4

//Link colors (Aka: <a> tags)
$link-color: $light-blue;
$link-hover-color: lighten($link-color, 15%);

//Body background (Affects main content background only)
$body-bg: #ecf0f5;


//CONTROL SIDEBAR
//--------------------------------------------------------
$control-sidebar-width: $sidebar-width;

//BOXES
//--------------------------------------------------------
$card-border-color: #f4f4f4;
$card-border-radius: 3px;
$card-footer-bg: #fff;
$card-boxshadow: 0 1px 1px rgba(0, 0, 0, .1);
$card-padding: 10px;

//Box variants
$card-default-border-top-color: #d2d6de;

//BUTTONS
//--------------------------------------------------------
$btn-boxshadow: none;

//PROGRESS BARS
//--------------------------------------------------------
$progress-bar-border-radius: 1px;
$progress-bar-sm-border-radius: 1px;
$progress-bar-xs-border-radius: 1px;

//FORMS
//--------------------------------------------------------
$input-radius: 0;

//BUTTONS
//--------------------------------------------------------

//Border radius for non flat buttons
$btn-border-radius: 3px;

//DIRECT CHAT
//--------------------------------------------------------
$direct-chat-height: 250px;
$direct-chat-default-msg-bg: $gray;
$direct-chat-default-font-color: #444;
$direct-chat-default-msg-border-color: $gray;

//CHAT WIDGET
//--------------------------------------------------------
$attachment-border-radius: 3px;

//TRANSITIONS SETTINGS
//--------------------------------------------------------

//Transition global options
$transition-speed: .3s;
$transition-fn: ease-in-out;
//cubic-bezier(0.32,1.25,0.375,1.15);