/*
* Commom layout configuration
*/

.wrapper {
  @include clearfix();
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

/*
 * Content Wrapper - contains the main content
 */
.content-wrapper,
.right-side,
.main-footer {
  @include transition(transform $transition-speed $transition-fn, margin $transition-speed $transition-fn);
  margin-left: $sidebar-width;
  z-index: 820;
  //Top nav layout
  .top-nav  & {
    margin-left: 0;
  }
  @media (max-width: $screen-sm) {
    margin-left: 0;
  }
  //When opening the sidebar on large screens
  .sidebar-collapse  & {
    @media (min-width: $screen-sm) {
      margin-left: 0;
    }
  }
  //When opening the sidebar on small screens
  .sidebar-open  & {
    @media (max-width: $screen-sm) {
      transform: translate($sidebar-width, 0);
    }
  }
}

.content-wrapper,
.right-side {
  min-height: 100%;
  z-index: 800;
}

.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid $gray;
}

/* Fixed layout */
.fixed {
  .main-header,
  .main-sidebar,
  .left-side {
    position: fixed;
  }
  .main-header {
    top: 0;
    right: 0;
    left: 0;
  }
  .content-wrapper,
  .right-side {
    padding-top: 50px;
    @media (max-width: $screen-header-collapse) {
      padding-top: 100px;
    }
  }
  &.boxed, &.rounded {
    .wrapper {
      max-width: 100%;
    }
  }
}

/* Content */
.content {
  min-height: 250px;
  padding: 15px;
  container-fixed: $grid-gutter-width;
}



/*
* Layout boxed
*/
.boxed{
  html,body {
    height: 100%;
  }
  .wrapper{
    max-width: $carded-layout-max-width;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  .control-sidebar-bg {
    position: absolute;
    height: 1077px;
  }

}


/*
* Layout boxed curve
*/
.rounded{
  @extend .boxed;
  .wrapper{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
  }
  .main-header{

  }
  .main-sidebar{

  }
  .content-wrapper{}
  .content{}
  .asside{}
  .main-footer{}
}