.card {
  position: relative;
  @include border-radius($card-border-radius);
  background: $control-background;
  border-top: 3px solid $secondary-border-top-color;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: $shadow;

  // Box color variations
  &.card-primary {
    border-color: $primary $content-border-default-color $content-border-default-color $content-border-default-color;

  }
  &.card-info {
    border-color: $info $content-border-default-color $content-border-default-color $content-border-default-color;
  }
  &.card-danger {
    border-color: $danger $content-border-default-color $content-border-default-color $content-border-default-color;
  }
  &.card-warning {
    border-color: $warning $content-border-default-color $content-border-default-color $content-border-default-color;
  }
  &.card-success {
    border-color: $success $content-border-default-color $content-border-default-color $content-border-default-color;
  }
  &.card-default {
    border-color: $secondary $content-border-default-color $content-border-default-color $content-border-default-color;
  }

  //header buttons
  .card-header{
    .btn{
      background-color: rgba(0,0,0,0);
      border-color: rgba(0,0,0,0);
      color: lighten($content-color, 50%);
      &.active,
      &:hover,
      &:active,
      &.hover {
        color:$content-color;
      }
    }

  }

  // collapsed mode
  &.collapsed-box {
    .card-block,
    .card-footer {
      display: none;
    }
  }

  .nav-stacked {
    > li {
      border-bottom: 1px solid $border-color;
      margin: 0;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  // fixed height to 300px
  &.height-control {
    .card-block {
      max-height: 300px;
      overflow: auto;
    }
  }

  .border-right {
    border-right: 1px solid $border-color;
  }
  .border-left {
    border-left: 1px solid $border-color;
  }

  //SOLID BOX
  //---------
  //use this class to get a colored header and borders

  &.card-solid {
    border-top: 0;
    > .card-header {
      .btn.btn-secondary {
        background: transparent;
      }
      .btn,
      a {
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }

    // Box color variations
    &.card-default {
      @include card-solid-variant($secondary, #444);
    }
    &.card-primary {
      @include card-solid-variant($primary);
    }
    &.card-info {
      @include card-solid-variant($info);
    }
    &.card-danger {
      @include card-solid-variant($danger);
    }
    &.card-warning {
      @include card-solid-variant($warning);
    }
    &.card-success {
      @include card-solid-variant($success);
    }

    > .card-header > .card-tools .btn {
      border: 0;
      box-shadow: none;
    }

    // Fix font color for tiles
    &[class*='bg'] {
      > .card-header {
        color: $header-color;
      }
    }

  }

  //BOX GROUP
  .card-group {
    > .card {
      margin-bottom: 5px;
    }
  }

  // jQuery Knob in a box
  .knob-label {
    text-align: center;
    color: $label-color;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
  }
}

.card,
.overlay-wrapper {
  // Box overlay for LOADING STATE effect
  > .overlay,
  > .loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    @include border-radius($card-border-radius);
    > .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -15px;
      margin-top: -15px;
      color: #000;
      font-size: 30px;
    }
  }

  .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
  }
}

//Add clearfix to header, body and footer
.card-header,
.card-block,
.card-footer {
  @include clearfix();
}

//Box header
.card-header {
  color: #444;
  display: block;
  padding: $padding;
  position: relative;

  //Add bottom border
  &.with-border {
    border-bottom: 1px solid $border-color;
    .collapsed-box  & {
      border-bottom: none;
    }
  }

  //Icons and box title
  > .fa,
  > .glyphicon,
  > .ion,
  .card-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
  }
  > .fa,
  > .glyphicon,
  > .ion {
    margin-right: 5px;
  }
  > .card-tools {
    position: absolute;
    right: 10px;
    top: 5px;
    [data-toggle="tooltip"] {
      position: relative;
    }

    &.pull-md-right, {
      .dropdown-menu {
        right: 0;
        left: auto;
      }
    }
  }
}

//Box Tools Buttons
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: darken($secondary-border-top-color, 20%);
  .open  &,
  &:hover {
    color: darken($secondary-border-top-color, 40%);
  }
  &.btn:active {
    box-shadow: none;
  }
}

//Card Body
.card-block {
  @include border-radius(0 0 $card-border-radius $card-border-radius);
  padding: $padding;
  .no-header  & {
    @include border-top-radius($card-border-radius);
  }
  // Tables within the box body
  > .table {
    margin-bottom: 0;
  }

  // Calendar within the box body
  .fc {
    margin-top: 5px;
  }

  .full-width-chart {
    margin: -19px;
  }
  &.no-padding .full-width-chart {
    margin: -9px;
  }

  .card-pane {
    @include border-radius(0 0 $card-border-radius 0);
  }
  .card-pane-right {
    @include border-radius(0 0 0 $card-border-radius);
  }

}

//Box footer
.card-footer {
  @include border-radius(0 0 $card-border-radius $card-border-radius);
  border-top: 1px solid $card-border-color;
  padding: $padding;
  background-color: $card-background-footer-color;
}

.chart-legend {
  @extend .list-unstyled;
  margin: 10px 0;
  > li {
    @media (max-width: $screen-sm-max) {
      float: left;
      margin-right: 10px;
    }
  }
}

//Comment Box
.card-comments {
  background: $secondary;
  .card-comment {
    @include clearfix();
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    &:last-of-type {
      border-bottom: 0;
    }
    &:first-of-type {
      padding-top: 0;
    }
    img {
      @extend .img-sm;
      float: left;
    }
  }
  .comment-text {
    margin-left: 40px;
    color: #555;
  }
  .username {
    color: #444;
    display: block;
    font-weight: 600;
  }
  .text-muted {
    font-weight: 400;
    font-size: 12px;
  }
}

//Widgets
//-----------

/* Widget: TODO LIST */

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  // Todo list element
  > li {
    @include border-radius(2px);
    padding: 10px;
    background: $secondary;
    margin-bottom: 2px;
    border-left: 2px solid darken($secondary, 10%);
    color: #444;
    &:last-of-type {
      margin-bottom: 0;
    }

    > input[type='checkbox'] {
      margin: 0 10px 0 5px;
    }

    .text {
      display: inline-block;
      margin-left: 5px;
      font-weight: 600;
    }

    // Time labels
    .label {
      margin-left: 10px;
      font-size: 9px;
    }

    // Tools and options box
    .tools {
      display: none;
      float: right;
      color: $danger;
      // icons
      > .fa, > .glyphicon, > .ion {
        margin-right: 5px;
        cursor: pointer;
      }

    }
    &:hover .tools {
      display: inline-block;
    }

    &.done {
      color: #999;
      .text {
        text-decoration: line-through;
        font-weight: 500;
      }

      .label {
        background: $secondary !important;
      }
    }
  }

  // Color variety
  .danger {
    border-left-color: darken($danger, 10%);
  }
  .warning {
    border-left-color: darken($warning, 10%);
  }
  .info {
    border-left-color: darken($info, 10%);
  }
  .success {
    border-left-color: darken($success, 10%);
  }
  .primary {
    border-left-color: darken($primary, 10%);
  }

  .handle {
    display: inline-block;
    cursor: move;
    margin: 0 5px;
  }

}

// END TODO WIDGET

/* Chat widget (DEPRECATED - this will be removed in the next major release. Use Direct Chat instead)*/
.chat {
  padding: 5px 20px 5px 10px;

  .item {
    @include clearfix();
    margin-bottom: 10px;
    // The image
    > img {
      width: 40px;
      height: 40px;
      border: 2px solid transparent;
      @include border-radius(50%);
    }

    > .online {
      border: 2px solid $green;
    }
    > .offline {
      border: 2px solid $red;
    }

    // The message body
    > .message {
      margin-left: 55px;
      margin-top: -40px;
      > .name {
        display: block;
        font-weight: 600;
      }
    }

    // The attachment
    > .attachment {
      @include border-radius($attachment-border-radius);
      background: #f4f4f4;
      margin-left: 65px;
      margin-right: 15px;
      padding: 10px;
      > h4 {
        margin: 0 0 5px 0;
        font-weight: 600;
        font-size: 14px;
      }
      > p, > .filename {
        font-weight: 600;
        font-size: 13px;
        font-style: italic;
        margin: 0;

      }
      @include clearfix();
    }
  }

}

//END CHAT WIDGET

//Input in box
.card-input {
  max-width: 200px;
}

//A fix for panels body text color when placed within
// a modal
.modal {
  .panel-body {
    color: #444;
  }
}