.card-info {
  display: block;
  min-height: 90px;
  background: $control-background;
  width: 100%;
  box-shadow: $card-boxshadow;
  @include border-radius(2px);
  margin-bottom: 15px;
  small {
    font-size: 14px;
  }
  .progress {
    background: rgba(0, 0, 0, 0.1);
    margin: 5px -5px 5px -5px;
    height: 4px;
    &,
    & .progress-bar {
      @include border-radius(0);
    }
    .progress-bar {
      background: $control-background;
    }
  }
}

.card-info-icon {
  @include border-radius(2px 0 2px 0);
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 64px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.1);
  > img {
    max-width: 100%;
  }
}

.card-info-content {
  padding: 5px 10px;
  margin-left: 90px;
}

.card-info-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.progress-description,
.card-info-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info-text {
  text-transform: uppercase;
}

.card-info-more {
  display: block;
}

.progress-description {
  margin: 0;
}