//collor pallete
.light-blue{background-color: $light-blue !important; color: #fff;}
.light-blue.darker{background-color: darken($light-blue, 20%) !important;}
.light-blue.lighter{background-color: lighten($light-blue, 20%) !important;}

.aqua{background-color: $aqua !important; color: #fff;}
.aqua.darker{background-color: darken($aqua, 20%) !important};
.aqua.lighter{background-color: lighten($aqua, 20%) !important};

.yellow{background-color: $yellow !important; color: #fff;}
.yellow.darker{background-color: darken($yellow, 20%) !important};
.yellow.lighter{background-color: lighten($yellow, 20%) !important};

.blue{background-color: $blue !important; color: #fff;}
.blue.darker{background-color: darken($blue, 20%) !important};
.blue.lighter{background-color: lighten($blue, 20%) !important};

.navy{background-color: $navy !important; color: #fff;}
.navy.darker{background-color: darken($navy, 20%) !important};
.navy.lighter{background-color: lighten($navy, 20%) !important};

.teal{background-color: $teal !important; color: #fff;}
.teal.darker{background-color: darken($teal, 20%) !important};
.teal.lighter{background-color: lighten($teal, 20%) !important};

.olive{background-color: $olive !important; color: #fff;}
.olive.darker{background-color: darken($olive, 20%) !important};
.olive.lighter{background-color: lighten($olive, 20%) !important};

.lime{background-color: $lime !important; color: #fff;}
.lime.darker{background-color: darken($lime, 20%) !important};
.lime.lighter{background-color: lighten($lime, 20%) !important};

.orange{background-color: $orange !important; color: #fff;}
.orange.darker{background-color: darken($orange, 20%) !important};
.orange.lighter{background-color: lighten($orange, 20%) !important};

.fuchsia{background-color: $fuchsia !important; color: #fff;}
.fuchsia.darker{background-color: darken($fuchsia, 20%) !important};
.fuchsia.lighter{background-color: lighten($fuchsia, 20%) !important};

.maroon{background-color: $maroon !important; color: #fff;}
.maroon.darker{background-color: darken($maroon, 20%) !important};
.maroon.lighter{background-color: lighten($maroon, 20%) !important};

.light-gray{background-color: $light-gray !important; color: #000;}
.light-gray.darker{background-color: darken($light-gray, 20%) !important};
.light-gray.lighter{background-color: lighten($light-gray, 20%) !important};

.gray{background-color: $gray !important; color: #fff;}
.gray.darker{background-color: darken($gray, 20%) !important};
.gray.lighter{background-color: lighten($gray, 20%) !important};

.black{background-color: $black !important; color: #fff;}
.black.darker{background-color: darken($black, 20%) !important};
.black.lighter{background-color: lighten($black, 20%) !important};

.red{background-color: $red !important; color: #fff;}
.red.darker{background-color: darken($red, 20%) !important};
.red.lighter{background-color: lighten($red, 20%) !important};

.purple{background-color: $purple !important; color: #fff;}
.purple.darker{background-color: darken($purple, 20%) !important};
.purple.lighter{background-color: lighten($purple, 20%) !important};

.green{background-color: $green !important; color: #fff;}
.green.darker{background-color: darken($green, 20%) !important};
.green.lighter{background-color: lighten($green, 20%) !important};

.pink{background-color: $pink !important; color: #fff;}
.pink.darker{background-color: darken($pink, 20%) !important};
.pink.lighter{background-color: lighten($pink, 20%) !important};

.white{background-color: $white !important; color: #000;}

//social backgrounds
.adn{background-color: $adn-color !important; color: #fff;};
.bitbucket{background-color: $bitbucket-color !important; color: #fff;};
.dropbox{background-color: $dropbox-color !important; color: #fff;};
.facebook{background-color: $facebook-color !important; color: #fff;};
.flickr{background-color: $flickr-color !important; color: #fff;};
.foursquare{background-color: $foursquare-color !important; color: #fff;};
.github{background-color: $github-color !important; color: #fff;};
.google{background-color: $google-color !important; color: #fff;};
.instagram{background-color: $instagram-color !important; color: #fff;};
.linkedin{background-color: $linkedin-color !important; color: #fff;};
.microsoft{background-color: $microsoft-color !important; color: #fff;};
.openid{background-color: $openid-color !important; color: #fff;};
.pinterest{background-color: $pinterest-color !important; color: #fff;};
.reddit{background-color: $reddit-color !important; color: #000;};
.soundcloud{background-color: $soundcloud-color !important; color: #fff;};
.tumblr{background-color: $tumblr-color !important; color: #fff;};
.twitter{background-color: $twitter-color !important; color: #fff;};
.vimeo{background-color: $vimeo-color !important; color: #fff;};
.vk{background-color: $vk-color !important; color: #fff;};
.yahoo{background-color: $yahoo-color !important; color: #fff;};


// Gradient Background colors
.bg-teal-gradient {
  @include gradient($teal, $teal, lighten($teal, 16%));
  @include border-radius($card-border-radius);
  color: #fff;
  .fa{
    color: #fff;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  .card-header{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
  }
  //card inside colored card
  .card-block .card{
    color: $content-color;
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      color: $content-color;
    }
  }
}

.bg-light-blue-gradient {
  @include gradient($light-blue, $light-blue, lighten($light-blue, 12%));
  @include border-radius($card-border-radius);
  color: #fff;
  .fa{
    color: #fff;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  .card-header{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
  }
  //card inside colored card
  .card-block .card{
    color: $content-color;
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      color: $content-color;
    }
  }
}

.bg-blue-gradient {
   @include gradient($blue, $blue, lighten($blue, 7%));
   @include border-radius($card-border-radius);
   color: #fff;
   .fa{
     color: #fff;
   }
   .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
     color: #fff;
   }
   .card-header{
     background-color: rgba(0,0,0,0);
     border-color: rgba(0,0,0,0);
   }
   //card inside colored card
   .card-block .card{
     color: $content-color;
     .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
       color: $content-color;
     }
   }

 }

.bg-gray-gradient {
  @include gradient(white, lighten($gray-light, 20%), white);
  @include border-radius($card-border-radius);
  color: #fff;
  .fa{
    color: #fff;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  .card-header{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
  }
  //card inside colored card
  .card-block .card{
    color: $content-color;
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      color: $content-color;
    }
  }

}

.bg-aqua-gradient {
  @include gradient($aqua, $aqua, lighten($aqua, 7%));
  @include border-radius($card-border-radius);
  color: #fff;
  .fa{
    color: #fff;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  .card-header{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
  }
  //card inside colored card
  .card-block .card{
    color: $content-color;
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      color: $content-color;
    }
  }
}

.bg-yellow-gradient {
  @include gradient($yellow, $yellow, lighten($yellow, 16%));
  @include border-radius($card-border-radius);
  color: #fff;
  .fa{
    color: #fff;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  .card-header{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
  }
  //card inside colored card
  .card-block .card{
    color: $content-color;
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      color: $content-color;
    }
  }
}

.bg-purple-gradient {
  @include gradient($purple, $purple, lighten($purple, 16%));
  @include border-radius($card-border-radius);
  color: #fff;
  .fa{
    color: #fff;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  .card-header{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
  }
  //card inside colored card
  .card-block .card{
    color: $content-color;
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      color: $content-color;
    }
  }
}

.bg-green-gradient {
  @include gradient($green, $green, lighten($green, 16%));
  @include border-radius($card-border-radius);
  color: #fff;
  //font awesome icons inside the gradient
  .fa{
    color: #fff;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  .card-header{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
  }
  //card inside colored card
  .card-block .card{
    color: $content-color;
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      color: $content-color;
    }
  }
}

.bg-red-gradient {
  @include gradient($red, $red, lighten($red, 10%));
  @include border-radius($card-border-radius);
  color: #fff;
  .fa{
    color: #fff;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  .card-header{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
  }
  //card inside colored card
  .card-block .card{
    color: $content-color;
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      color: $content-color;
    }
  }
}

.bg-dark-gradient {
  @include gradient(#444, #444, lighten(#444, 10%));
  @include border-radius($card-border-radius);
  color: #fff;
  .fa{
    color: #fff;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  .card-header{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
  }
  //card inside colored card
  .card-block .card{
    color: $content-color;
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      color: $content-color;
    }
  }
}

.bg-maroon-gradient {
  @include gradient($maroon, $maroon, lighten($maroon, 10%));
  @include border-radius($card-border-radius);
  color: #fff;
  .fa{
    color: #fff;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  .card-header{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
  }
  //card inside colored card
  .card-block .card{
    color: $content-color;
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      color: $content-color;
    }
  }
}