/*
 * Component: Nav
 * --------------
 */
.nav {
  > li > a:hover,
  > li > a:active,
  > li > a:focus {
    color: #444;
    background: #f7f7f7;
  }
}

/* NAV PILLS */
.nav-pills {
  > li > a {
    @include border-radius(0);
    border-top: 3px solid transparent;
    color: #444;
    > .fa,
    > .glyphicon,
    > .ion {
      margin-right: 5px;
    }
  }
  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    border-top-color: $light-blue;
  }
  > li.active > a {
    font-weight: 600;
  }
}

/* NAV STACKED */
.nav-stacked {
  > li > a {
    @include border-radius(0);
    border-top: 0;
    border-left: 3px solid transparent;
    color: #444;
  }
  > li.active > a,
  > li.active > a:hover {
    background: transparent;
    color: #444;
    border-top: 0;
    border-left-color: $light-blue;
  }

  > li.header {
    border-bottom: 1px solid #ddd;
    color: #777;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
  }
}

/* NAV TABS */
.nav-tabs-custom {
  background: #fff;
  box-shadow: $card-boxshadow;
  @include border-radius($card-border-radius);
  > .nav-tabs {
    @include border-top-radius($card-border-radius);

    > .nav-item{
      border-top: 3px solid transparent;
      margin-bottom: -2px;

      > .nav-link{
        color: #444;
        &.text-muted {
          color: #999;
        }
        &,
        &:hover {
          color: #999;
        }
        .active {
          border-top-color: $light-blue;
        }
      }

    }

  }

  > .tab-content {
    background: #fff;
    padding: 10px;
    @include border-bottom-radius($card-border-radius);
  }

  .dropdown.open > a {
     &:active,
     &:focus {
      background: transparent;
      color: #999;
    }
  }
  // Tab color variations
   &.tab-primary {
    > .nav-tabs {
      > li.active {
        border-top-color: $light-blue;
      }
    }
  }
   &.tab-info {
    > .nav-tabs {
      > li.active {
        border-top-color: $aqua;
      }
    }
  }
   &.tab-danger {
    > .nav-tabs {
      > li.active {
        border-top-color: $red;
      }
    }
  }
   &.tab-warning {
    > .nav-tabs {
      > li.active {
        border-top-color: $yellow;
      }
    }
  }
   &.tab-success {
    > .nav-tabs {
      > li.active {
        border-top-color: $green;
      }
    }
  }
   &.tab-default {
    > .nav-tabs {
      > li.active {
        border-top-color: $gray;
      }
    }
  }
}

/* PAGINATION */
.pagination {
  > li > a {
    background: #fafafa;
    color: #666;
  }
   &.pagination-flat {
    > li > a {
      @include border-radius(0 !important);
    }
  }
}
