$bs-height-base: ($line-height-computed + $padding-base-vertical * 2);
$bs-height-lg: (floor($font-size-large * $line-height-base) + $padding-large-vertical * 2);
$bs-height-sm: (floor($font-size-small * 1.5) + $padding-small-vertical * 2);
$bs-height-xs: (floor($font-size-small * 1.2) + $padding-small-vertical + 1);

.btn-social {
  position: relative;
  padding-left: ($bs-height-base + $padding-base-horizontal);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $bs-height-base;
    line-height: ($bs-height-base + 0.5);
    font-size: 1.2em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
   &.btn-lg {
    padding-left: ($bs-height-lg + $padding-large-horizontal);
    > :first-child {
      line-height: $bs-height-lg;
      width: $bs-height-lg;
      font-size: 1.8em;
    }
  }
   &.btn-sm {
    padding-left: ($bs-height-sm + $padding-small-horizontal);
    > :first-child {
      line-height: $bs-height-sm;
      width: $bs-height-sm;
      font-size: 1.4em;
    }
  }
   &.btn-xs {
    padding-left: ($bs-height-xs + $padding-small-horizontal);
    > :first-child {
      line-height: $bs-height-xs;
      width: $bs-height-xs;
      font-size: 1.2em;
    }
  }
}

.btn-social-icon {
  @extend .btn-social;
  padding: 0;
  > :first-child {
    border: none;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    line-height: ($bs-height-base + 1);
  }
   &.btn-lg {
    height: $bs-height-lg;
    width: $bs-height-lg;
    padding-left: 0;
    padding-right: 0;
  }
   &.btn-sm {
    height: ($bs-height-sm + 2);
    width: ($bs-height-sm + 2);
    padding-left: 0;
    padding-right: 0;
  }
   &.btn-xs {
    height: ($bs-height-xs + 2);
    width: ($bs-height-xs + 2);
    padding-left: 0;
    padding-right: 0;
  }
}


.btn-adn {
  @include btn-social($adn-color);
}

.btn-bitbucket {
  @include btn-social($bitbucket-color);
}

.btn-dropbox {
  @include btn-social($dropbox-color);
}

.btn-facebook {
  @include btn-social($facebook-color);
}

.btn-flickr {
  @include btn-social($flickr-color);
}

.btn-foursquare {
  @include btn-social($foursquare-color);
}

.btn-github {
  @include btn-social($github-color);
}

.btn-google {
  @include btn-social($google-color);
}

.btn-instagram {
  @include btn-social($instagram-color);
}

.btn-linkedin {
  @include btn-social($linkedin-color);
}

.btn-microsoft {
  @include btn-social($microsoft-color);
}

.btn-openid {
  @include btn-social($openid-color);
}

.btn-pinterest {
  @include btn-social($pinterest-color);
}

.btn-reddit {
  @include btn-social($reddit-color, #000);
}

.btn-soundcloud {
  @include btn-social($soundcloud-color);
}

.btn-tumblr {
  @include btn-social($tumblr-color);
}

.btn-twitter {
  @include btn-social($twitter-color);
}

.btn-vimeo {
  @include btn-social($vimeo-color);
}

.btn-vk {
  @include btn-social($vk-color);
}

.btn-yahoo {
  @include btn-social($yahoo-color);
}