  .btn {
    @include border-radius($border-radius);
    @include box-shadow($shadow);
    //border: 1px solid transparent;

    &.uppercase {
      text-transform: uppercase
    }

    // Flat buttons
    &.btn-flat {
      @include border-radius(0);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-width: 1px;
    }

    // Active state
    &:active {
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }

    &:focus {
      outline: none;
    }

    // input file btn
    &.btn-file {
      position: relative;
      overflow: hidden;
      > input[type='file'] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        opacity: 0;
        outline: none;
        background: $control-background;
        cursor: inherit;
        display: block;
      }
    }
  }

  //Button color variations
  .btn-secondary {
    background-color: $secondary;
    color: #444;
    border-color: darken($secondary, 5%);
    &.active,
    &:hover,
    &:active,
    &.hover {
      background-color: darken($secondary, 5%);
    }
  }

  .btn-primary {
    background-color: $primary;
    border-color: darken($primary, 5%);
    &.active, &:hover,  &:active,  &.hover {
      background-color: darken($primary, 5%);
    }
  }

  .btn-success {
    background-color: $success;
    border-color: darken($success, 5%);
    &.active, &:hover,  &:active,  &.hover {
      background-color: darken($success, 5%);
    }
  }

  .btn-info {
    background-color: $info;
    border-color: darken($info, 5%);
    &.active, &:hover,  &:active,  &.hover {
      background-color: darken($info, 5%);
    }
  }

  .btn-danger {
    background-color: $red;
    border-color: darken($red, 5%);
    &.active, &:hover,  &:active,  &.hover {
      background-color: darken($red, 5%);
    }
  }

  .btn-warning {
    background-color: $yellow;
    border-color: darken($yellow, 5%);
    &.active, &:hover,  &:active,  &.hover {
      background-color: darken($yellow, 5%);
    }
  }

  .btn-outline {
    border: 1px solid $control-background;
    background: transparent;
    color: $control-background;
    &:hover,
    &:focus,
    &:active {
      color: rgba(255, 255, 255, .7);
      border-color: rgba(255, 255, 255, .7);
    }
  }

  .btn-link {
    @include box-shadow(none);
  }

  //General .btn with bg class
  .btn[class*='bg-']:hover {
    @include box-shadow(inset 0 0 100px rgba(0, 0, 0, 0.2));
  }

  // Application buttons
  .btn-app {
    @include border-radius(3px);
    position: relative;
    padding: 15px 5px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    height: 60px;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: $secondary;
    font-size: 12px;
    //Icons within the btn
    > .fa, > .glyphicon, > .ion {
      font-size: 20px;
      display: block;
    }

    &:hover {
      background: $secondary;
      color: #444;
      border-color: #aaa;
    }

    &:active,  &:focus {
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }

    //The badge
    > .badge {
      position: absolute;
      top: -3px;
      right: -10px;
      font-size: 10px;
      font-weight: 400;
    }
  }

  //circle button
  .btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    @include border-radius(25px);

    &.btn-sm {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      @include border-radius(15px);
    }

    &.btn-lg {
      width: 70px;
      height: 70px;
      padding: 10px 16px;
      font-size: 24px;
      line-height: 1.33;
      @include border-radius(35px);
    }

  }