@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin background-size($parameters...){
  -webkit-background-size: $parameters;
  -moz-background-size: $parameters;
  -o-background-size: $parameters;
  background-size: $parameters;
}

@mixin input-placeholder-color{
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

//Changes the color and the hovering properties of the navbar
@mixin navbar-variant($color, $font-color: rgba(255, 255, 255, 0.8), $hover-color: #f6f6f6, $hover-bg: rgba(0, 0, 0, 0.1)) {

  background-color: $color;
  //Navbar links
  .nav > li > a {
    color: $font-color;
  }

  .nav > li > a:hover,
  .nav > li > a:active,
  .nav > li > a:focus,
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus,
  .nav > .active > a {
    background: $hover-bg;
    color: $hover-color;
  }

  //Add color to the sidebar toggle button
  .sidebar-toggle {
    color: $font-color;
    &:hover {
      color: $hover-color;
      background: $hover-bg;
    }
  }
}

//Logo color variation
@mixin logo-variant($bg-color, $color: #fff, $border-bottom-color: transparent, $border-bottom-width: 0) {
  background-color: $bg-color;
  color: $color;
  border-bottom: $border-bottom-width solid $border-bottom-color;

  &:hover {
    background-color: darken($bg-color, 1%);
  }
}

//Box solid color variantion creator
@mixin card-solid-variant($color, $text-color: #fff) {
  border: 1px solid $color;
  > .card-header {
    color: $text-color;
    background-color: $color;
    a,
    .btn {
      color: $text-color;
    }
  }
}

//Direct Chat Variant
@mixin direct-chat-variant($bg-color, $color: #fff) {
  .right > .direct-chat-text {
    background: $bg-color;
    border-color: $bg-color;
    color: $color;
    &:after,
    &:before {
      border-left-color: $bg-color;
    }
  }
}

//Gradient background
@mixin gradient($color: #F5F5F5, $start: #EEE, $stop: #FFF) {
  background: $color;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, $start), color-stop(1, $stop)) !important;
  background: -ms-linear-gradient(bottom, $start, $stop) !important;
  background: -moz-linear-gradient(center bottom, $start 0%, $stop 100%) !important;
  background: -o-linear-gradient($stop, $start) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start}', endColorstr='#{$stop}', GradientType=0)" !important;
  background: linear-gradient($start, $stop) !important; /* Standard syntax */
}

//social button
@mixin btn-social($color-bg, $color: #fff){
  background-color: $color-bg;
  @include button-variant($color, $color-bg, rgba(0, 0, 0, .2));
}

@mixin header($color, $link-color: #fff, $hover-color: #fff, $foreground-color: lighten($color, 5%)){
  $main-color: $color;
  $background-color: $main-color;
  $border-color: $main-color;

  .main-header {
    @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.05));
    > .navbar {
      @include navbar-variant($background-color, $link-color, $hover-color, $foreground-color);//bgcolor/color/hover/hover-bg
      > .sidebar-toggle, .fullscreen-toggle {
        color: $link-color;
        border-right: 1px solid $border-color;
      }
      .navbar-nav {
        > li > a {
          border-right: 1px solid $border-color;
        }
      }
      .navbar-custom-menu .navbar-nav,
      .navbar-right {
        > li {
          > a {
            border-left: 1px solid $border-color;
            border-right-width: 0;
          }
        }
      }
    }
    > .logo {
      @include logo-variant($foreground-color, $link-color);//bg-color, color, $border-bottom-color: transparent, $border-bottom-width: 0
      border-right: 1px solid $border-color;
      @media (max-width: $screen-header-collapse) {
        @include logo-variant($foreground-color, $link-color);
        border-right: none;
      }
    }

    li.user-header, li.timetracker-header {
      background-color: $background-color;
      color: $color;
    }

  }

  .content-header {
    background: transparent;
    box-shadow: none;
  }
}

@mixin sidebar($color, $light-color: lighten($color, 60%), $foreground: lighten($color, 2%), $foreground-color: lighten($color, 60%), $link-color: lighten($color, 60%), $hover-color: #fff, $search-box-background: lighten($color, 10%), $search-box-focused-background: #fff, $text-search-color: lighten($color, 60%), $text-search-focused-color: #333){

  $main-color: $color;
  $background: $main-color;
  $link-hover-border-color: $foreground;
  $sub-menu-bg: $foreground;
  $sub-menu-color: $hover-color;
  $sub-menu-hover-color: $hover-color;
  $user-panel-color: $light-color;

  .main-sidebar,
  .left-side {
    background-color: $background;
  }
  //User Panel (resides in the sidebar)
  .user-panel {
    > .info, > .info > a {
      color: $user-panel-color;
    }
  }
  //Sidebar Menu. First level links
  .sidebar-menu > li {
    @include transition(border-left-color .3s ease);
    //Section Headning
    &.header {
      color: $light-color;
      background: $foreground;
    }
    //links
    > a {
      border-left: 3px solid transparent;
    }
    //Hover and active states
    &:hover > a, &.active > a {
      color: $hover-color;
      background: $foreground;
      border-left-color: $link-hover-border-color;
    }
    //First Level Submenu
    > .treeview-menu {
      margin: 0 1px;
      background: $sub-menu-bg;
    }
  }
  //All links within the sidebar menu
  .sidebar a {
    color: $light-color;
    &:hover {
      text-decoration: none;
    }
  }
  //All submenus
  .treeview-menu {
    > li {
      > a {
        color: $sub-menu-color;
      }
      &.active > a, > a:hover {
        color: $sub-menu-hover-color;
      }
    }
  }
  //The sidebar search form
  .sidebar-form {
    .input-group{
      background-color: $search-box-background;
    }
    @include border-radius(20px);
    border: 1px solid $search-box-background;
    margin: 10px 10px;
    input[type="text"], .btn {
      box-shadow: none;
      background-color: $search-box-background;
      border: 1px solid transparent;
      height: 35px;
      @include transition(all, $transition-speed, $transition-fn);
    }
    input[type="text"] {
      color: $text-search-color;
      @include border-radius(2px 0 2px 0);
      &:focus, &:focus + .input-group-btn .btn {
        background-color: $search-box-focused-background;
        color: $text-search-focused-color;
      }
      &:focus + .input-group-btn .btn {
        border-left-color: $text-search-focused-color;
      }
    }
    @include input-placeholder-color{
      color: $text-search-color;
    }
    .btn {
      color: $text-search-color;
      @include border-radius(0 2px 0 2px);
    }
  }
  @media (min-width: $screen-sm-min) {
    &.mini-sidebar.sidebar-collapse {
      .sidebar-menu > li > .treeview-menu {
        border-left: 1px solid lighten($background, 10%);
      }
    }
  }
}

@mixin control-bar($color,  $link-color: lighten($color, 60%), $hover-color: #fff){

  $main-color: $color;
  $light-color: lighten($main-color, 60%);
  $background: $main-color;
  $foreground: lighten($main-color, 2%);
  $foreground-color: lighten($main-color, 60%);
  $user-panel-color: #fff;
  $search-box-background: lighten($main-color, 10%);
  $search-box-focused-background: #fff;
  $text-search-color: lighten($main-color, 60%);
  $text-search-focused-color: #333;
  $link-hover-border-color: $foreground;
  $sub-menu-bg: $foreground;
  $sub-menu-color: $hover-color;
  $sub-menu-hover-color: $hover-color;

  //This is a hack to make the background visible while scrolling
  .control-sidebar-bg {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    background: $background;
  }

  //Transitions
  .control-sidebar-bg,
  .control-sidebar {
    top: 0;
    right: -$sidebar-width;
    width: $sidebar-width;
    @include transition(right $transition-speed ease-in-out);
  }

  //The sidebar
  .control-sidebar {
    color: $light-color;
    .nav-tabs .nav-item + .nav-item {
      margin-left: 0;
    }
    .nav-tabs .nav-item {
      margin: 0;
      border: 0;
    }

    .nav-tabs .nav-item .nav-link, &:active, &:active:hover, &:active:focus {
      border-color: transparent;
    }

    position: absolute;
    padding-top: $navbar-height;
    z-index: 1010;
    //Fix position after header collapse
    @media (max-width: $screen-sm) {
      padding-top: $navbar-height + 50;
    }
    //Tab panes
    > .tab-content {
      padding: 10px 15px;
    }
    //Open state with slide over content effect
    &.control-sidebar-open {
      &,
      + .control-sidebar-bg {
        right: 0;
      }
    }
  }

  //Open without slide over content
  .control-sidebar-open {
    .control-sidebar-bg,
    .control-sidebar {
      right: 0;
    }
    @media (min-width: $screen-sm) {
      .content-wrapper,
      .right-side,
      .main-footer {
        margin-right: $sidebar-width;
      }
    }
  }

  //Control sidebar tabs
  .nav-tabs.control-sidebar-tabs {

    border-bottom: $background;
    > li {
      width: 33.33%;
      text-align: center;
      &:first-of-type > a {
        &,
        &:hover,
        &:focus {
          border-left-width: 0;
        }
      }
      > a {
        background: $foreground;
        color: $light-color;
        &:hover, &:active, &.active {
          color: $hover-color;
          background: $background;
        }
        @include border-radius(0);

        //Hover and active states
        &,
        &:hover {
          border-top: none;
          border-right: none;
          border-left: 1px solid transparent;
          border-bottom: 1px solid transparent;
        }
        .icon {
          font-size: 16px;
        }
      }
      //Active state
      &.active {
        > a {
          &,
          &:hover,
          &:focus,
          &:active {
            border-top: none;
            border-right: none;
            border-bottom: none;
          }
        }
      }
    }
    //Remove responsiveness on small screens
    @media (max-width: $screen-sm) {
      display: table;
      > li {
        display: table-cell;
      }
    }
  }

  //Headings in the sidebar content
  .control-sidebar-heading {
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 10px;
    color: $light-color;
  }

  //Subheadings
  .control-sidebar-subheading {
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: $light-color;
  }

  //Control Sidebar Menu
  .control-sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
    > li > a {
      &:hover {
        background: $foreground;
      }
      @include clearfix();
      display: block;
      padding: 10px 15px;
      > .control-sidebar-subheading {
        margin-top: 0;
      }
    }
    .menu-icon {
      float: left;
      width: 35px;
      height: 35px;
      @include border-radius(50%);
      text-align: center;
      line-height: 35px;
    }
    .menu-info {
      margin-left: 45px;
      margin-top: 3px;
      > .control-sidebar-subheading {
        margin: 0;
      }
      > p {
        margin: 0;
        font-size: 11px;
        color: $light-color;
      }
    }
    .progress {
      margin: 0;
    }
  }

}