html,
body {
  height: 100%;
  width: 100%;
  position: relative; }

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  background: #D9D6D1;
  position: relative; }

hr {
  border-color: #d5354b;
  border-width: 3px;
  max-width: 50px; }

hr.light {
  border-color: white; }

a, a:hover, a:active, a:focus {
  outline: 0; }

a {
  transition: all 0.35s;
  color: #d5354b; }
  a:hover, a:focus {
    color: #b22538; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

@media (max-width: 767px) {
  h2 {
    font-size: 1.5rem; } }

p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    p {
      font-size: 12px; } }

.fill {
  width: 100%;
  min-height: 400px;
  background: #fff; }

.bg-foreground {
  background-color: #d8d8d4 !important; }

.bg-primary {
  background-color: #d5354b !important; }

.bg-dark {
  background-color: #222;
  color: white; }

.bg-bs4 {
  background-color: #4C446D;
  color: white; }

.text-rgbad {
  color: white; }

aside {
  padding: 50px 0; }

.no-padding {
  padding: 0; }

.feature {
  color: white; }

#differentials {
  color: white;
  background-color: #363636;
  min-height: 400px; }

#mask {
  background-color: #fff;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100000; }

.loader {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  top: 50%;
  left: 50%; }

#scroll-animate {
  overflow: hidden; }

#scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed; }

#heightPage,
#heightScroll {
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99; }

#heightPage {
  left: 0; }

#heightScroll {
  right: 0; }

header,
footer,
#scroll-animate-main {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1); }

footer {
  width: 100%;
  height: 300px;
  background: #333;
  color: #fff;
  bottom: -300px;
  position: fixed;
  z-index: 250; }

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); }

header {
  top: 0;
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  color: white; }
  @media (min-width: 768px) {
    header {
      min-height: 100%; } }

#content {
  height: 1000px;
  min-height: 1000px;
  position: relative;
  z-index: 300; }

.navbar-default {
  background-color: white;
  border-color: #cdcdcd;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  transition: all 0.35s; }
  @media (max-width: 767px) {
    .navbar-default {
      padding: 0; }
      .navbar-default .navbar-brand {
        color: #d5354b;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
        font-weight: 700;
        padding: 0.5rem 0; }
        .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
          color: #b22538; }
        .navbar-default .navbar-brand .brand-img {
          width: 50px;
          height: 25px;
          background: url("../img/front-end/infinity.png") no-repeat left top;
          background-size: 100%; }
      .navbar-default .nav > li > a,
      .navbar-default .nav > li > a:focus {
        line-height: 20px;
        box-sizing: border-box;
        font-size: 15px;
        color: #222;
        transition: all 0.25s ease 0s;
        display: block;
        position: relative;
        padding: 10px 0; }
        .navbar-default .nav > li > a:hover,
        .navbar-default .nav > li > a:focus:hover {
          color: #d5354b; }
      .navbar-default .nav .nav-link.active, .navbar-default .nav .nav-link.active:focus {
        color: #d5354b !important;
        background-color: transparent; }
      .navbar-default .nav .dropdown-menu {
        background-color: transparent;
        border: 0 none;
        box-shadow: none;
        float: none;
        margin-top: 0;
        position: static;
        width: auto; }
      .navbar-default .navbar-header::after, .navbar-default .navbar-header::before {
        content: " ";
        display: table;
        clear: both; }
      .navbar-default .nav-btn {
        font-weight: 700;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
        transition: all 0.2s ease-in-out 0s;
        background-color: none;
        margin: 0;
        border-radius: 0; }
        .navbar-default .nav-btn a {
          text-decoration: none; }
      .navbar-default .navbar-nav .nav-item {
        float: none; }
      .navbar-default .navbar-divider,
      .navbar-default .navbar-nav .nav-item + .nav-item,
      .navbar-default .navbar-nav .nav-link + .nav-link {
        margin-left: 0; } }
  @media (min-width: 768px) {
    .navbar-default {
      background-color: transparent;
      border-color: rgba(255, 255, 255, 0.3); }
      .navbar-default .nav > li > a,
      .navbar-default .nav > li > a:focus {
        line-height: 50px;
        box-sizing: border-box;
        font-size: 15px;
        color: #222;
        transition: all 0.25s ease 0s; }
        .navbar-default .nav > li > a:hover,
        .navbar-default .nav > li > a:focus:hover {
          color: #d5354b; }
      .navbar-default .nav .nav-link.active, .navbar-default .nav .nav-link.active:focus {
        color: #d5354b !important;
        background-color: transparent; }
      .navbar-default .nav-btn {
        font-weight: 700;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
        transition: all 0.2s ease-in-out 0s;
        background-color: #d5354b;
        border-radius: 4px;
        margin: 0.425rem 0; }
        .navbar-default .nav-btn a {
          text-decoration: none;
          margin: 10px; }
      .navbar-default .dropdown-menu {
        left: auto; }
        .navbar-default .dropdown-menu .active {
          color: #d5354b !important;
          background-color: transparent; }
      .navbar-default .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
          color: white; }
        .navbar-default .navbar-brand .brand-img {
          background: url("../img/front-end/infinity_logo_white.png") no-repeat;
          width: 91px;
          height: 50px;
          background-size: 100%; }
      .navbar-default .nav > li > a,
      .navbar-default .nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7); }
        .navbar-default .nav > li > a:hover,
        .navbar-default .nav > li > a:focus:hover {
          color: white; }
      .navbar-default.sps--blw {
        background-color: white;
        border-color: #cdcdcd;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.04);
        padding: 0;
        border-bottom: 1px solid; }
        .navbar-default.sps--blw .navbar-brand {
          color: #d5354b;
          font-size: 14px; }
          .navbar-default.sps--blw .navbar-brand:hover, .navbar-default.sps--blw .navbar-brand:focus {
            color: #b22538; }
          .navbar-default.sps--blw .navbar-brand .brand-img {
            background: url("../img/front-end/infinity_logo.png") no-repeat;
            width: 91px;
            height: 50px;
            background-size: 100%; }
        .navbar-default.sps--blw .nav > li > a,
        .navbar-default.sps--blw .nav > li > a:focus {
          color: #222; }
          .navbar-default.sps--blw .nav > li > a:hover,
          .navbar-default.sps--blw .nav > li > a:focus:hover {
            color: #d5354b; } }

.parallax-holder {
  position: relative;
  left: 0;
  right: 0;
  height: 187px;
  overflow: hidden;
  text-align: center; }
  @media (min-width: 768px) {
    .parallax-holder {
      height: 300px; } }
  @media (min-width: 992px) {
    .parallax-holder {
      height: 400px; } }
  @media (min-width: 1200px) {
    .parallax-holder {
      height: 450px; } }

.parallax-content {
  position: absolute;
  z-index: 10;
  text-align: center;
  left: 0;
  right: 0;
  padding-top: 100px; }
  .parallax-content img {
    padding: 10px; }
  @media (max-width: 767px) {
    .parallax-content img {
      width: 90px; } }
  @media (min-width: 768px) {
    .parallax-content {
      padding-top: 50px; } }
  @media (min-width: 992px) {
    .parallax-content {
      padding-top: 100px; } }
  @media (min-width: 1200px) {
    .parallax-content {
      padding-top: 250px; } }

#slider {
  position: relative;
  z-index: 100; }

.slider-top-content {
  position: absolute;
  width: 100%;
  z-index: 150;
  text-align: center;
  color: white;
  padding: 80px 15px;
  margin: auto; }
  .slider-top-content h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0; }
  .slider-top-content hr {
    margin: 30px auto; }
  .slider-top-content p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin-bottom: 10px; }
  .slider-top-content img {
    width: 30%; }
  @media (min-width: 768px) {
    .slider-top-content {
      width: 650px;
      right: 0;
      left: 0;
      padding: 250px 15px 100px; } }

.slider-controls {
  transition: all 0.2s ease-in-out; }
  .slider-controls li {
    list-style: none; }
    .slider-controls li a {
      position: absolute;
      z-index: 200;
      top: 44%;
      width: 81px;
      height: 80px;
      cursor: pointer; }

div:hover .slider-controls {
  opacity: 1;
  transition: all 0.2s ease-in-out; }

.slides-navigation .next {
  background: transparent url("../img/front-end/slider/sliders-next.png");
  width: 81px;
  height: 80px;
  margin-right: 70px;
  opacity: 0.3; }

.slides-navigation .prev {
  background: transparent url("../img/front-end/slider/sliders-prev.png");
  width: 81px;
  height: 80px;
  margin-left: 70px;
  opacity: 0.3; }

.slides-navigation .next:hover {
  opacity: 1; }

.slides-navigation .prev:hover {
  opacity: 1; }

@media (max-width: 767px) {
  .slides-navigation {
    display: none; } }

.overlay {
  background: transparent url("../img/front-end/overlay.png");
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#features {
  width: 100%;
  height: 600px;
  overflow: hidden; }

.slide {
  text-align: center;
  transition: background 1s ease;
  background-color: #3498DB;
  height: 600px; }
  .slide img {
    width: 100%;
    max-width: 646px;
    padding-bottom: 20px; }

.section-heading {
  margin-top: 0; }

.pdtop {
  padding-top: 50px; }
  @media (min-width: 768px) {
    .pdtop {
      padding-top: 100px; } }

.pdbottom {
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .pdbottom {
      padding-bottom: 100px; } }

.gallery-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto; }
  .gallery-box img {
    width: 100%; }
  .gallery-box .gallery-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba(213, 53, 75, 0.9);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all 0.35s; }
    .gallery-box .gallery-box-caption .gallery-box-caption-content {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      .gallery-box .gallery-box-caption .gallery-box-caption-content .project-category,
      .gallery-box .gallery-box-caption .gallery-box-caption-content .project-name {
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
        padding: 0 15px; }
      .gallery-box .gallery-box-caption .gallery-box-caption-content .project-category {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px; }
      .gallery-box .gallery-box-caption .gallery-box-caption-content .project-name {
        font-size: 18px; }
  .gallery-box:hover .gallery-box-caption {
    opacity: 1; }
  @media (min-width: 768px) {
    .gallery-box .gallery-box-caption .gallery-box-caption-content .project-category {
      font-size: 16px; }
    .gallery-box .gallery-box-caption .gallery-box-caption-content .project-name {
      font-size: 22px; } }

.call-to-action h2 {
  margin: 0 auto 20px; }

.text-primary {
  color: #d5354b !important; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-default {
  color: #222;
  background-color: white;
  border-color: white; }
  .btn-default:hover {
    color: #222;
    background-color: #e6e6e6;
    border-color: #e0e0e0; }
  .btn-default:focus, .btn-default.focus {
    color: #222;
    background-color: #e6e6e6;
    border-color: #e0e0e0; }
  .btn-default:active, .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    color: #222;
    background-color: #e6e6e6;
    border-color: #e0e0e0;
    background-image: none; }
    .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus,
    .open > .btn-default.dropdown-toggle:hover,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle.focus {
      color: #222;
      background-color: #d4d4d4;
      border-color: #bfbfbf; }
  .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default:disabled:focus, .btn-default:disabled.focus {
    background-color: white;
    border-color: white; }
  .btn-default.disabled:hover, .btn-default:disabled:hover {
    background-color: white;
    border-color: white; }

.btn-primary {
  color: white;
  background-color: #d5354b;
  border-color: #d5354b; }
  .btn-primary:hover {
    color: white;
    background-color: #b22538;
    border-color: #aa2336; }
  .btn-primary:focus, .btn-primary.focus {
    color: white;
    background-color: #b22538;
    border-color: #aa2336; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    background-color: #b22538;
    border-color: #aa2336;
    background-image: none; }
    .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
    .open > .btn-primary.dropdown-toggle:hover,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle.focus {
      color: white;
      background-color: #941f2f;
      border-color: #731824; }
  .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary:disabled:focus, .btn-primary:disabled.focus {
    background-color: #d5354b;
    border-color: #d5354b; }
  .btn-primary.disabled:hover, .btn-primary:disabled:hover {
    background-color: #d5354b;
    border-color: #d5354b; }

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700; }

.btn-xl {
  padding: 15px 30px; }
  @media (max-width: 767px) {
    .btn-xl {
      padding: 7px 15px; } }

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222; }

::selection {
  color: white;
  text-shadow: none;
  background: #222; }

img::-moz-selection {
  color: white;
  background: transparent; }

img::selection {
  color: white;
  background: transparent; }

body {
  webkit-tap-highlight-color: #222; }

/*# sourceMappingURL=infinity.css.map */
